#search-results, #search-bar {
    margin-top: 100px;
} 

#underTittle {
    align-content: center;

} 

.movie-card {
    width: 250px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.movie-image {
    width: 200px;
    height: 270px;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}