#search-results, #search-bar {
    margin-top: 100px;
} 

#underTittle {
    align-content: center;

} 

.movie-card {
    width: 250px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.movie-image {
    width: 200px;
    height: 270px;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}

  #bg {
      background: rgb(17, 17, 23);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 25px 25px;
      display: flex;
      justify-content: space-evenly
  }
  #ig {
    justify-content: space-between;
    background: rgb(17, 17, 23);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;

  }
  #legal__links {
    background: rgb(17, 17, 23);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;}
  
 

  
  
  